.twitterHeader{
    .sad{
        text-transform: capitalize;
        margin-left: 5px;
        background-color: #2C345C;
        border-radius: 5px;
        padding: 10px;
    }

    .joy{
        text-transform: capitalize;
        margin-left: 5px;
        background-color: #FBE6A6;
        border-radius: 5px;
        padding: 10px;
    }

    .fear{
        text-transform: capitalize;
        margin-left: 5px;
        background-color: #2f2323;
        border-radius: 5px;
        padding: 10px;
    }

    .anger{
        text-transform: capitalize;
        margin-left: 5px;
        background-color: #dd0055;
        border-radius: 5px;
        padding: 10px;
    }

    .love{
        text-transform: capitalize;
        margin-left: 5px;
        background-color: #E41B17;
        border-radius: 5px;
        padding: 10px;
    }

    .surprised{
        text-transform: capitalize;
        margin-left: 5px;
        background-color: #f2bcc2;
        border-radius: 5px;
        padding: 10px;
    }
}