.allTweetsWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  .allTweetsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    gap: 20px;

    .tweetsContainer {
      width: 33%;
      border-radius: 5px;
      padding: 5px;
      overflow-y: auto;
      height: 500px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      margin-bottom: 20px;

      .tweetContainerHeader {
        text-align: center;
        margin-bottom: 5px;
        background-color: gray;
        border-radius: 5px;
      }

      .tweetContainerHeader.positive {
        background-color: #00ff00;
      }

      .tweetContainerHeader.negative {
        background-color: #ff0000;
      }

      .tweetContainerHeader.sad {
        background-color: #2c345c;
      }

      .tweetContainerHeader.joy {
        background-color: #fbe6a6;
      }

      .tweetContainerHeader.fear {
        background-color: #2f2323;
      }

      .tweetContainerHeader.anger {
        background-color: #dd0055;
      }

      .tweetContainerHeader.love {
        background-color: #E41B17;
      }

      .tweetContainerHeader.surprise {
        background-color: #f2bcc2;
      }
    }
  }
}
